In [8]:
import numpy as np
import pandas as pd
from utils.utils import *

In [9]:
# Linguistic parameter for measuring the criteriaâ€™s performance.

very_low = (0.0, 0.0, 0.1)
low = (0.0, 0.1, 0.3)
medium_low = (0.1, 0.3, 0.5)
medium = (0.3, 0.5, 0.7)
medium_high = (0.5, 0.7, 0.9)
high = (0.7, 0.9, 1.0)
very_high = (0.9, 1.0, 1.0)

In [10]:
# Linguistic parameter for measuring the performance of alternatives.

very_poor = (0.0, 0.0, 0.1)
poor = (0.0, 0.1, 0.3)
medium_poor = (0.1, 0.3, 0.5)
fair = (0.3, 0.5, 0.7)
medium_good = (0.5, 0.7, 0.9)
good = (0.7, 0.9, 1.0)
very_good = (0.9, 1.0, 1.0)

In [11]:
# Shortcut dictionary for linguistic parameters.
shortcut_dict = {
    'VL': very_low,
    'L': low,
    'ML': medium_low,
    'M': medium,
    'MH': medium_high,
    'H': high,
    'VH': very_high,
    'VP': very_poor,
    'P': poor,
    'MP': medium_poor,
    'F': fair,
    'MG': medium_good,
    'G': good,
    'VG': very_good
}

## MAIN

#### Step 1 & 2

Input the linguistic weights

In [12]:
AL = ['H', 'VH', 'MH', 'H', 'VH']
CT = ['MH', 'H', 'M', 'H', 'VH']
CC = ['M', 'MH', 'ML', 'ML', 'H']
RA = ['VH', 'H', 'H', 'MH', 'VH']
TC = ['ML', 'M', 'MH', 'L', 'ML']
RM = ['ML', 'L', 'M', 'L', 'ML']
OS = ['M', 'ML', 'MH', 'L', 'VL']

df = pd.DataFrame([AL, CT, CC, RA, TC, RM, OS], columns=['D1', 'D2', 'D3', 'D4', 'D5'], index=['AL', 'CT', 'CC', 'RA', 'TC', 'RM', 'OS']).T
df

    AL  CT  CC  RA  TC  RM  OS
D1   H  MH   M  VH  ML  ML   M
D2  VH   H  MH   H   M   L  ML
D3  MH   M  ML   H  MH   M  MH
D4   H   H  ML  MH   L   L   L
D5  VH  VH   H  VH  ML  ML  VL

Convert this to triangular fuzzy weights

In [13]:
for i in df:
    arr = np.array(df[i])
    for j in range(len(arr)):
        arr[j] = shortcut_dict[arr[j]]
    df[i] = arr

df

,AL,CT,CC,RA,TC,RM,OS
D1,"(0.7, 0.9, 1.0)","(0.5, 0.7, 0.9)","(0.3, 0.5, 0.7)","(0.9, 1.0, 1.0)","(0.1, 0.3, 0.5)","(0.1, 0.3, 0.5)","(0.3, 0.5, 0.7)"
D2,"(0.9, 1.0, 1.0)","(0.7, 0.9, 1.0)","(0.5, 0.7, 0.9)","(0.7, 0.9, 1.0)","(0.3, 0.5, 0.7)","(0.0, 0.1, 0.3)","(0.1, 0.3, 0.5)"
D3,"(0.5, 0.7, 0.9)","(0.3, 0.5, 0.7)","(0.1, 0.3, 0.5)","(0.7, 0.9, 1.0)","(0.5, 0.7, 0.9)","(0.3, 0.5, 0.7)","(0.5, 0.7, 0.9)"
D4,"(0.7, 0.9, 1.0)","(0.7, 0.9, 1.0)","(0.1, 0.3, 0.5)","(0.5, 0.7, 0.9)","(0.0, 0.1, 0.3)","(0.0, 0.1, 0.3)","(0.0, 0.1, 0.3)"
D5,"(0.9, 1.0, 1.0)","(0.9, 1.0, 1.0)","(0.7, 0.9, 1.0)","(0.9, 1.0, 1.0)","(0.1, 0.3, 0.5)","(0.1, 0.3, 0.5)","(0.0, 0.0, 0.1)"

Inter valued triangular fuzzy weights

In [14]:
for i in df:
    arr = np.array(df[i])
    ivt = calc_ivt(arr, 5)
    df[i] = ivt

weights_df = df.T
weights_df.columns = ["l", "l`", "m", "u`", "u"]
weights_df

      l        l`         m        u`    u
AL  0.5  0.723653  0.892723  0.979148  1.0
CT  0.3  0.580906  0.777160  0.911734  1.0
CC  0.1  0.253652  0.490355  0.690965  1.0
RA  0.5  0.723653  0.892723  0.979148  1.0
TC  0.0  0.000000  0.315982  0.543101  0.9
RM  0.0  0.000000  0.214113  0.435970  0.7
OS  0.0  0.000000  0.000000  0.393628  0.9

#### Step 3 & 4

Performance rating of the alternatives in linguistic terms.

In [15]:
def get_performance_data():
    AL = [
        ['G','VG','G','VG','G'],
        ['VG','VG','G','VG','VG'],
        ['G','G','G','G','M'],
        ['MG','MG','MG','M','MG'],
        ['VG','G','M','G','M']
    ]

    CT = [
        ['MG','G','VG','G','VG'],
        ['G','MG','G','MG','MG'],
        ['G','G','VG','MG','M'],
        ['M','MG','G','G','G'],
        ['G','VG','MG','VG','G']     # Element 3 is changed from 'MG' to 'M'/'F' to match paper, which says it uses 'MG' but gives readings for 'F'
    ]

    CC = [
        ['G','MG','G','G','G'],
        ['VG','G','MG','MG','MG'],
        ['MG','VG','MG','M','MG'],
        ['G','G','G','VG','VG'],
        ['MG','G','MG','G','VG']
    ]

    RA = [
        ['VG','G','MG','MG','MG'],
        ['G','VG','M','MG','MG'],
        ['MG','VG','MG','G','M'],
        ['G','VG','VG','M','G'],
        ['VG','MG','G','VG','MG']
    ]

    TC = [
        ['M','MP','P','M','M'],
        ['MP','MP','MP','M','M'],
        ['MG','M','VP','P','MP'],
        ['M','P','M','MP','P'],
        ['MP','M','MP','P','VP']
    ]

    RM = [
        ['MP','M','M','M','M'],
        ['MP','MG','MP','MP','VP'],
        ['P','MG','M','MP','M'],
        ['M','MP','P','M','P'],
        ['M','MP','VP','P','MP']
    ]

    OS = [
        ['MP','MG','MP','MP','MP'],
        ['P','VP','P','P','MP'],
        ['P','M','MP','P','VP'],
        ['MP','VP','VP','MP','VP'],
        ['M','VP','P','VP','P']
    ]
    return [AL, CT, CC, RA, TC, RM, OS]

performance_data = get_performance_data()

performance_df = pd.DataFrame(performance_data, columns=['A1', 'A2', 'A3', 'A4', 'A5'], index=['AL', 'CT', 'CC', 'RA', 'TC', 'RM', 'OS']).T
performance_df

,AL,CT,CC,RA,TC,RM,OS
A1,"[G, VG, G, VG, G]","[MG, G, VG, G, VG]","[G, MG, G, G, G]","[VG, G, MG, MG, MG]","[M, MP, P, M, M]","[MP, M, M, M, M]","[MP, MG, MP, MP, MP]"
A2,"[VG, VG, G, VG, VG]","[G, MG, G, MG, MG]","[VG, G, MG, MG, MG]","[G, VG, M, MG, MG]","[MP, MP, MP, M, M]","[MP, MG, MP, MP, VP]","[P, VP, P, P, MP]"
A3,"[G, G, G, G, M]","[G, G, VG, MG, M]","[MG, VG, MG, M, MG]","[MG, VG, MG, G, M]","[MG, M, VP, P, MP]","[P, MG, M, MP, M]","[P, M, MP, P, VP]"
A4,"[MG, MG, MG, M, MG]","[M, MG, G, G, G]","[G, G, G, VG, VG]","[G, VG, VG, M, G]","[M, P, M, MP, P]","[M, MP, P, M, P]","[MP, VP, VP, MP, VP]"
A5,"[VG, G, M, G, M]","[G, VG, MG, VG, G]","[MG, G, MG, G, VG]","[VG, MG, G, VG, MG]","[MP, M, MP, P, VP]","[M, MP, VP, P, MP]","[M, VP, P, VP, P]"

Interval valued triangular fuzzy performance rating of the alternatives

In [16]:
for i in performance_df:
    arr = np.array(performance_df[i])
    for j in range(len(arr)):
        for k in range(len(arr[j])):
            arr[j][k] = shortcut_dict[arr[j][k]]

performance_df

,AL,CT,CC,RA,TC,RM,OS
A1,"[(0.7, 0.9, 1.0), (0.9, 1.0, 1.0), (0.7, 0.9, ...","[(0.5, 0.7, 0.9), (0.7, 0.9, 1.0), (0.9, 1.0, ...","[(0.7, 0.9, 1.0), (0.5, 0.7, 0.9), (0.7, 0.9, ...","[(0.9, 1.0, 1.0), (0.7, 0.9, 1.0), (0.5, 0.7, ...","[(0.3, 0.5, 0.7), (0.1, 0.3, 0.5), (0.0, 0.1, ...","[(0.1, 0.3, 0.5), (0.3, 0.5, 0.7), (0.3, 0.5, ...","[(0.1, 0.3, 0.5), (0.5, 0.7, 0.9), (0.1, 0.3, ..."
A2,"[(0.9, 1.0, 1.0), (0.9, 1.0, 1.0), (0.7, 0.9, ...","[(0.7, 0.9, 1.0), (0.5, 0.7, 0.9), (0.7, 0.9, ...","[(0.9, 1.0, 1.0), (0.7, 0.9, 1.0), (0.5, 0.7, ...","[(0.7, 0.9, 1.0), (0.9, 1.0, 1.0), (0.3, 0.5, ...","[(0.1, 0.3, 0.5), (0.1, 0.3, 0.5), (0.1, 0.3, ...","[(0.1, 0.3, 0.5), (0.5, 0.7, 0.9), (0.1, 0.3, ...","[(0.0, 0.1, 0.3), (0.0, 0.0, 0.1), (0.0, 0.1, ..."
A3,"[(0.7, 0.9, 1.0), (0.7, 0.9, 1.0), (0.7, 0.9, ...","[(0.7, 0.9, 1.0), (0.7, 0.9, 1.0), (0.9, 1.0, ...","[(0.5, 0.7, 0.9), (0.9, 1.0, 1.0), (0.5, 0.7, ...","[(0.5, 0.7, 0.9), (0.9, 1.0, 1.0), (0.5, 0.7, ...","[(0.5, 0.7, 0.9), (0.3, 0.5, 0.7), (0.0, 0.0, ...","[(0.0, 0.1, 0.3), (0.5, 0.7, 0.9), (0.3, 0.5, ...","[(0.0, 0.1, 0.3), (0.3, 0.5, 0.7), (0.1, 0.3, ..."
A4,"[(0.5, 0.7, 0.9), (0.5, 0.7, 0.9), (0.5, 0.7, ...","[(0.3, 0.5, 0.7), (0.5, 0.7, 0.9), (0.7, 0.9, ...","[(0.7, 0.9, 1.0), (0.7, 0.9, 1.0), (0.7, 0.9, ...","[(0.7, 0.9, 1.0), (0.9, 1.0, 1.0), (0.9, 1.0, ...","[(0.3, 0.5, 0.7), (0.0, 0.1, 0.3), (0.3, 0.5, ...","[(0.3, 0.5, 0.7), (0.1, 0.3, 0.5), (0.0, 0.1, ...","[(0.1, 0.3, 0.5), (0.0, 0.0, 0.1), (0.0, 0.0, ..."
A5,"[(0.9, 1.0, 1.0), (0.7, 0.9, 1.0), (0.3, 0.5, ...","[(0.7, 0.9, 1.0), (0.9, 1.0, 1.0), (0.5, 0.7, ...","[(0.5, 0.7, 0.9), (0.7, 0.9, 1.0), (0.5, 0.7, ...","[(0.9, 1.0, 1.0), (0.5, 0.7, 0.9), (0.7, 0.9, ...","[(0.1, 0.3, 0.5), (0.3, 0.5, 0.7), (0.1, 0.3, ...","[(0.3, 0.5, 0.7), (0.1, 0.3, 0.5), (0.0, 0.0, ...","[(0.3, 0.5, 0.7), (0.0, 0.0, 0.1), (0.0, 0.1, ..."

In [17]:
ivt_pdf = performance_df.copy()

for i in ivt_pdf:
    results = []
    features = np.array(ivt_pdf[i])
    for alt in features:
        arr = np.array(alt)
        ivt = np.array(calc_ivt(arr, 5))
        results.append(ivt)
    ivt_pdf[i] = results

ivt_pdf

,AL,CT,CC,RA,TC,RM,OS
A1,"[0.7, 0.7740264966144386, 0.9387403933595694, ...","[0.5, 0.7236527563504052, 0.8927227692697763, ...","[0.5, 0.654443913303929, 0.8558814535160307, 0...","[0.5, 0.6015200563366134, 0.7905099230805666, ...","[0.0, 0.0, 0.32719469497061865, 0.552429771906...","[0.1, 0.24082246852806918, 0.4514402257237171,...","[0.1, 0.13797296614612148, 0.3553993357626732,..."
A2,"[0.7, 0.8558814535160306, 0.9791483623609768, ...","[0.5, 0.5720331779293615, 0.7740264966144386, ...","[0.5, 0.6015200563366134, 0.7905099230805666, ...","[0.3, 0.5431007000198876, 0.73906343938062, 0....","[0.1, 0.15518455739153597, 0.36801096140891665...","[0.0, 0.0, 0.0, 0.40759655480296136, 0.9]","[0.0, 0.0, 0.0, 0.26672686083965996, 0.5]"
A3,"[0.3, 0.5908846158908769, 0.80018058251898, 0....","[0.3, 0.5809061438048199, 0.7771603096550795, ...","[0.3, 0.5077556391987408, 0.7028341008196021, ...","[0.3, 0.5431007000198876, 0.73906343938062, 0....","[0.0, 0.0, 0.0, 0.39362834270353514, 0.9]","[0.0, 0.0, 0.3499708406227727, 0.5809061438048...","[0.0, 0.0, 0.0, 0.3159818305749271, 0.7]"
A4,"[0.3, 0.4514402257237171, 0.654443913303929, 0...","[0.3, 0.5524297719067351, 0.7609552444907208, ...","[0.7, 0.7740264966144385, 0.9387403933595694, ...","[0.3, 0.653371927344834, 0.8346242608806186, 0...","[0.0, 0.0, 0.23714406097793117, 0.466317505113...","[0.0, 0.0, 0.23714406097793117, 0.466317505113...","[0.0, 0.0, 0.0, 0.19036539387158785, 0.5]"
A5,"[0.3, 0.524488801367084, 0.7265826204502337, 0...","[0.5, 0.7236527563504052, 0.8927227692697763, ...","[0.5, 0.6433920934643697, 0.8312587308087805, ...","[0.5, 0.6765573453416198, 0.8489609570549691, ...","[0.0, 0.0, 0.0, 0.3499708406227727, 0.7]","[0.0, 0.0, 0.0, 0.3499708406227727, 0.7]","[0.0, 0.0, 0.0, 0.22901720489235822, 0.7]"

#### Step 5

Calculate the criteria-wise average solutions

In [18]:
ivt = ivt_pdf.copy()
ivfpda = calc_ivfda(ivt, positive=True)
ivfnda = calc_ivfda(ivt, positive=False)

#### Step 6

In [19]:
pda = ivfpda.copy()
nda = ivfnda.copy()

weights = np.array(weights_df)
# weights[1]

In [20]:
ivfwp = pda.copy()

for i in range(len(pda)):
    for j in range(len(pda[i])):
        ivfwp[i][j] = pda[i][j] * weights[i]

# print(ivfwp[0][0])

# print(f"{ivfwp[0][0][2]:.4f} Should be 0.0724")

In [21]:
ivfwn = nda.copy()

for i in range(len(nda)):
    for j in range(len(nda[i])):
        ivfwn[i][j] = nda[i][j] * weights[i]

# ivfwn[0]

In [22]:
wp_df = ivfwp.copy()
res = []
for i in range(len(wp_df)):
    # print(i)
    res.append(np.mean(wp_df[i], axis=1))
wp_df = pd.DataFrame(res, columns=['A1', 'A2', 'A3', 'A4', 'A5'], index=['AL', 'CT', 'CC', 'RA', 'TC', 'RM', 'OS']).T
wp_df['WP'] = [np.sum(wp_df.iloc[i]) for i in range(wp_df.shape[0])]
wp_df['NWP'] = wp_df['WP'].to_numpy()/np.max(wp_df['WP'].to_numpy())

wn_df = ivfwn.copy()
res = []
for i in range(len(wn_df)):
    # print(i)
    res.append(np.mean(wn_df[i], axis=1))
wn_df = pd.DataFrame(res, columns=['A1', 'A2', 'A3', 'A4', 'A5'], index=['AL', 'CT', 'CC', 'RA', 'TC', 'RM', 'OS']).T
wn_df['WN'] = [np.sum(wn_df.iloc[i]) for i in range(wn_df.shape[0])]
wn_df['NWN'] = 1 - (wn_df['WN'].to_numpy()/np.max(wn_df['WN'].to_numpy()))

#### FINAL Step

In [23]:
final_df = pd.DataFrame(data=[wp_df['NWP'], wn_df['NWN']], columns=['A1', 'A2', 'A3', 'A4', 'A5']).T
final_df['AS'] = (final_df['NWP']+final_df['NWN'])/2
final_df['Rank'] = final_df['AS'].to_numpy().argsort()+1

In [24]:
final_df

         NWP       NWN        AS  Rank
A1  1.000000  0.922875  0.961437     4
A2  0.551616  0.356169  0.453893     5
A3  0.244887  0.158510  0.201698     3
A4  0.175191  0.000000  0.087596     2
A5  0.276051  0.064395  0.170223     1